.jas-cares-banner {
  width: 100vw;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1200px) {
  .jas-cares-banner {
    background-size: contain;
  }
}

@media screen and (max-width: 1100px) {
  .jas-cares-banner {
    height: 400px;
    background-size: cover;

  }
}

@media screen and (max-width: 700px) {
  .jas-cares-banner {
    height: 300px;
    background-size: cover;
  }
}

@media screen and (max-width: 500px) {
  .jas-cares-banner {
    height: 184px;
    background-size: contain;
  }
}


.jas-cares-container {
  width: 70%;
  margin: 0 auto;
}

.jas-cares-top {
  padding-top: 30px;
  padding-bottom: 30px;
}

.bold-colored-p {
  font-weight: bold;
  color: #00687c;
}

.jas-cares-grid {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  column-gap: 3.3%;
  row-gap: 20px;
  grid-template-rows: 1fr 1fr 1fr;
}


@media screen and (max-width: 900px) {
  .jas-cares-grid {
    grid-template-columns: 1fr;
  }
}

.jas-cares-card {
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
}

.jas-cares-carousel-item {
  object-fit: fill!important;
  height: 67vh!important;
  width: 65vw!important;
}

@media screen and (max-width: 600px) {
  .jas-cares-carousel-item {
      height: 33vh !important;
  }
}
