.footer {
  padding-top: 30px;
  border-top: 1px solid rgba(1, 104, 123, 0.1);
  width: 70%;
  margin: 0 auto;
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

.footer-left {
  display: flex;
}

.footer-left ul {
  list-style: none;
}

.footer-header {
  font-weight:lighter;
  color: rgba(8, 109, 127, 255)
}

.footer-text {
  font-weight: lighter;
}

.social-media {
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
}

 .ul-footer-middle {
   width: max-content;
 }

@media screen and (max-width: 700px) {
  .footer-left {
    flex-direction: column;
  }
}

@media screen and (min-width: 700px) {
  #footer-ul-left {
    padding: 0px;
  }
}
