.media-sidebar-header {
  text-decoration: none;
  font-family: "Roboto";
  color: black;
  font-weight: 300;
  display: block;
   &:hover {
    font-weight: bold;
    color: #00687c;
   }
}

.media-sidebar-header-button {
  text-decoration: none;
  font-family: "Roboto";
  color: white;
  font-weight: 300;
  display: block;
  margin-bottom: 20px;
  border: 1px solid gray;
  border-radius: 10px;
  text-align: center;
  padding: 8px;
  background-color: #00687c;

  &:hover {
    font-weight: bold;
    color: white;
  }
}

@media screen and (max-width: 1000px) {
  .media-sidebar-header-button {
    display: none;
  }
}



//
.media-sidebar-container {
  width: max-content;
  position: fixed;
  left: 40px;
  top: 138px;
  height: 400px;
  overflow-y: scroll;
  background-color: white;
  z-index: 1;
}

@media screen and (max-width: 1000px) {
  .media-sidebar-container {
    height: 30px;
    top: 0px;
    position: sticky;
    margin-top: 70px;
    background-color: white;
    overflow: visible;
    left: 0px;

  }
}

.sidebar-header {
  display: flex;
  flex-direction: inherit;
  margin-bottom: 0px;

  &:hover {
    cursor: pointer;
  }
}

.header-div {
  display: flex;
}

// .plus p {
//   margin-bottom: 0px;
// }

// .minus p {
//   margin-bottom: 0px;
// }

.sidebar-header {
  &:after {
    // position: absolute;
    content: "+";
    display: block;
    margin-left: 5px;
    //   right: 0px;
    //   top: 0px;
  }
}

.sidebar-header.active {
  font-weight: bold;
  color: #00687c;

  &:after {
    // position: absolute;
    content: "-";
    display: block;
    // right: 0px;
    // top: 0px;
  }
}

.subcategory-sidebar-div {
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding-left: 20px;
}

.subcategory-sidebar-div a {
  color: black;
  text-decoration: none;
  font-family: "Roboto";
  font-size: 0.9rem;
}

.sidebar-border {
  margin-top: 5px;
  margin-bottom: 5px;
}

@media screen and (min-width: 1000px) {
  .media-solutions-by-market-desktop {
    display: block;
  }
}

@media screen and (max-width: 1000px) {
  .media-solutions-by-market-desktop {
    display: none;
  }
}

@media screen and (min-width: 1000px) {
  .media-solutions-by-market-mobile {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  .media-solutions-by-market-mobile {
    margin-top: 100px;
  }
}

@media screen and (max-width: 1000px) {
  .media-solutions-by-market-mobile {
    display: block;
    background-color: white;
    color: #00687c;
    font-family: "Roboto";
    font-weight: bold;
    padding: 4px 8px;
    cursor: pointer;
    margin-bottom: 0px;
    border-right: 1px solid;
    border-bottom: 1px solid;
    text-align: center;
    font-size: medium;
  }
}


// @media screen and (max-width: 1000px) {
//   .media-solutions-by-market-mobile:after {
//     content: "";
//     display: block;
//     background-image: url("chevron-down-solid.svg");
//     background-repeat: no-repeat;
//     background-color: white;
//     height: 32px;
//     width: 26px;
//     position: absolute;
//     right: -28px;
//     top: 0px;
//     box-shadow: -2px 0px 0px 0px white, 2px 0px 0px 0px white;
//     // border: 1px solid #00687c;

//   }
// }

@media screen and (min-width: 1000px) {
  .media-sidebar-mobile {
    display: block !important;
    overflow-y: scroll;
    height: 400px;
  }
}

@media screen and (max-width: 1000px) {
  .media-sidebar-mobile {
    background-color: white;
    display: none;
    padding: 5px;
    border: 1px solid gray;
    overflow-x: hidden;
  }
}

@media screen and (max-width: 1000px) {
  .media-sidebar-mobile:after {
    content: "";
    width: 20px;
    background-color: white;
    position: absolute;
    right: 0px;
    top: 0xp;
  }
}
