  /* Navbar container */
  .navbar {
    /* overflow: hidden; */
    background-color: #f1f2f2;
    font-family: "Roboto";
    height: 100px;
    justify-content: end;
    align-items: end;
  }

  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
    font-weight: 300;
    font-family: "Roboto";
  }

  /* The dropdown container */
  .dropdown {
    float: left;
    /* overflow: hidden; */
  }

  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    font-weight: 300;
    font-family: "Roboto";
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    /* Important for vertical align on mobile phones */
    margin: 0;
    /* Important for vertical align on mobile phones */
  }

  /* Add a red background color to navbar links on hover */
  // .navbar a:hover,
  // .dropdown:hover .dropbtn {
  //   background-color: #00687c;
  //   color: white;
  // }

  .navbar a:hover {
    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 30px;
      border-bottom: 2px solid #00687c;
    }
  }



  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    /* min-height: 200px; */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1000;

  }

  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    color: black;
    font-weight: 300;
    font-family: "Roboto";
  }

  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }

  @media screen and (min-width: 1000px) {
    .dropbtn {
      display: none;
    }
  }

  @media screen and (max-width: 1000px) {
    .dropbtn {
      display: block;
    }
  }

  @media screen and (max-width: 1000px) {
    .links-hide {
      display: none;
    }
  }

  .navbar-brand img {
    height: 170px;
    width: 140px;
    position: absolute;
    left: 200px;
    z-index: 1;
    background-color: white;
    top: 0px;
    padding: 20px 10px 10px 10px;
    box-shadow: 3px 0px 5px rgb(128, 128, 128);
  }

  @media screen and (max-width: 1100px) {
    .navbar-brand img {
      left: 50px;
    }
  }

  @media screen and (max-width: 700px) {
    .navbar-brand img {
      height: 120px;
      width: 100px;
    }
  }
