#product-banner {
  // height: 200px;
  background-color: rgba(0, 104, 124, 255);
  color: white;
  text-align: center;
  padding: 30px;
}

#product-banner h1 {
  font-size: 32px;
}

#product-banner ul {
  margin:0px;
  padding: 0px;
  list-style-type: none;
  column-gap: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  align-self: center;
  width: 70%;
}

@media screen and (max-width: 900px) {
  #product-banner ul {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 85%;
    column-gap: 10px;
    row-gap: 10px;
    justify-content: center;

  }
}

#product-banner ul li {
  margin:auto;
  // width: 200px;
  margin: 0px;
  display: inline;
  font-size: 10px;
}

#product-banner img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid white;
}

.product-banner-div {
  margin: auto;
  width: 200px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  img {
    align-self: center;
  }
}

li a {
  text-decoration: none;
  color:white;
  &:hover {
    text-decoration: none;
    color: grey;
  }
}

.product-container {
  display: flex;
  justify-content: center;
}
