 <div class="request-information-container">
  <h2 class="product-solutions-header-bottom">Request Product Documentation</h2>
  <% @products.each do |product| %>
    <div data-controller="modal_reveal">
      <div class="product-download-section">
        <p class="product-title-download"><%= product.name %></p>
        <div class="category-market-div">
          <p><strong>Category:</strong> <%=  product.category.name%></p>
          <p><strong>Market:</strong> <%=  product.market.name%></p>
        </div>
        <button class="download-button" data-modal_reveal-target="button" data-action="click->modal_reveal#toggleModal">Request Documentation</button>
      </div>
      <div data-modal_reveal-target="window" class="d-none product-lead-form-div">
        <%= render partial: 'modal', locals: { product: product } %>
      </div>
    </div>
  <% end %>
</div>
