<%= render "sidebar" %>
<div class="product-solutions-container">
  <div class="product-main-right-div">
    <h2 class="product-solutions-header">Fireside Treatment</h2>
    <div id="fireside_treatment_general" class="product-solutions-image" style="background-image: url('<%= image_url('products/fireside-treatment.jpg')%>');">
      <h2 class="image-text">General</h2>
    </div>
    <p>As a leading chemical manufacturer, <strong>JAS Global Indusries</strong> prioritizes sustainability in every aspect of our business. We forecast potential problems in the energy industry and carefully design to deliver solutions that keep environmental, social, and economic sustainability in mind. We have over two decades of experience in solving fuel-related problems by partnering with our customers to deliver solutions that will save water, energy, and avoid air pollution.</p>
    <p>When fuel is burned to heat a boiler and generate steam, treatments are needed to give you a cleaner and more efficient burn. As fuel is the largest expense in this process, it is important to reduce fuel consumption, control corrosion, and reduce maintenance needs to increase productivity and maximize profitability.</p>
    <p>Common fireside issues include:</p>
    <ul class="ul-bullet-points">
      <li>Slag deposits interfere with the efficient transfer of heat from the radiant section into the tubes</li>
      <li>Corrosion resulting when molten vanadium pentoxide deposits on metal surfaces and dissolve the oxide layer that all metals form to passivate their surfaces</li>
      <li>Disruptions in plant outputs, leading to increased overhead costs</li>
      <li>High maintenance, cleaning, replacement equipment, and overhauling costs</li>
    </ul>
    <p>Our fuel additives and proprietary chemical formulations will help you achieve your production goals, reduce the operational expense of your boiler system, and improve the sustainability of your overall process. With our solutions, we can guarantee:</p>
    <ul class="ul-bullet-points">
      <li>Deposit removal</li>
      <li>Improved combustion</li>
      <li>Improved heat transfer</li>
      <li>On-line cleaning of fouled fireside heat transfer surfaces of boilers and furnaces</li>
      <li>Stable and hotter flames</li>
      <li>Utilization of sludge</li>
      <li>Stabilize soot and ash deposit challenges</li>
      <li>Carbon and dust emission control</li>
    </ul>
    <p>The product portfolio for Oil & Gas includes:</p>
    <div class="product-solutions-list-div">
      <ul class="product-solutions-ul-first">
        <li>Online cleaners of fouled heat transfer surfaces of boilers and furnaces</li>
        <li>Fuel additives for reduced corrosion and improved combustion and heat transfer</li>
      </ul>
    </div>
    <div class="border-divider" style="margin-bottom:50px;"></div>
    <%= render "download_section" %>
  </div>
</div>
