<div class="product-solutions-container">
  <h2 class="product-solutions-header">Home Care</h2>
  <div id="home_care_general" class="product-solutions-image" style="background-image: url('<%= image_url('products/home-care.jpg')%>');">
    <h2 class="image-text">General</h2>
  </div>
  <p>With over two decades of experience in the specialty chemical additive business, <strong>JAS Global Indusries</strong> has developed a wide range of high-performance additives for household and industrial cleaning applications</p>
  <p>Our range of home care products are separated into two categories of thickeners and stabilizing agents, anionic and cationic formulated with varying viscosities and flow properties to help stabilize emulsions and suspended particles. This range also includes speciality chemical polymers such as dispersing agents, processing aids, anti-redeposition agents, liquid absorbents, anti-spotting and sheeting agents all in which contribute to the sustainability and efficiency of home care and industrial cleaning.</p>
  <h3>Cationic Range</h3>
  <p>Stabilizing agents:</p>
  <ul class="ul-bullet-points">
    <li>Surface polishing</li>
    <li>Shoe polishing</li>
    <li>Car polishing</li>
  </ul>
  <p>Thickeners for home care applications:</p>
  <ul class="ul-bullet-points">
    <li>Laundry washing</li>
    <li>All and multi-purpose cleaners</li>
    <li>Limescale elimination</li>
    <li>Fabric softeners</li>
    <li>Restroom appliance cleaners</li>
  </ul>
  <h3>Anionic Range</h3>
  <p>Stabilizing agents:</p>
  <ul class="ul-bullet-points">
    <li>Surface cleaners</li>
    <li>Hand cleaners and sanitizers</li>
    <li>Dishwashing gels</li>
    <li>Fabric conditioning and softening</li>
    <li>Autocare (interior and exterior cleaning)</li>
    <li>Air care (candles and air freshening sprays)</li>
  </ul>
  <h3>Dispersing Agents</h3>
  <p>Dispersants are essential components of household and industrial cleaning products, hence <strong>JAS Global Indusries</strong> provides a range of high-performance and sustainable water-soluble polycarboxylate polymers designed to enhance the effectiveness of cleaning products.</p>
  <p>Advantages of using our Dispersing Agents:</p>
  <ul class="ul-bullet-points">
    <li>Stable under high temperatures and alkaline conditions</li>
    <li>Compatible with surfactants applied in cleaning formulations</li>
    <li>Do not exhibit foaming</li>
    <li>Granulating aid properties to assist spray products</li>
    <li>Efficient in dispersing insoluble inorganic particles and binding calcium ions</li>
  </ul>
  <p>The product portfolio for Home Care includes:</p>
  <div class="product-solutions-list-div">
    <ul class="product-solutions-ul-first">
      <li>Anionic & cationic stabilizing agents</li>
      <li>Cationic thickeners</li>
      <li>Dispersing agents</li>
    </ul>
  </div>
</div>
