<%= render "sidebar" %>
<i class="fa-sharp fa-solid fa-circle-arrow-up" data-controller="top" data-action="click->top#scrollup"></i>
<div class="product-solutions-container">
  <div class="product-main-right-div">
    <h2 class="product-solutions-header">Oil & Gas</h2>
    <div id="oil_and_gas_general" class="product-solutions-image" style="background-image: url('<%= image_url('products/general-oil-and-gas.jpg')%>');">
      <h2 class="image-text">General</h2>
    </div>
    <p>Based in the heart of the most renowned region of oil and gas fields in the world, <strong>JAS Global Industries</strong> is well-equipped to tackle the challenges of the energy industry by offering a collection of elite, high-performance chemical additives to address your needs. We take an on-hand approach to help each and every client meet their goals. Whether it’s to improve process issues across the value chain, cut costs, or increase output, our specialized products and customer support will help you deliver and improve gross margins.</p>
    <p>Our high-performance range of oilfield additives are specifically designed with our customers to achieve the highest level of operational performance and maximum profitability for your production process. Our experience in the heart of the industry puts us at the forefront of innovation by providing you with the highest quality, cost-efficient products that will continuously adapt to the needs of the demanding industry. Our range of products include drilling chemicals, cementing, additives, stimulation additives, and production chemicals. More specifically:</p>
    <p>The product portfolio for Oil & Gas includes:</p>
    <div class="product-solutions-list-div">
      <ul class="product-solutions-ul-first">
        <li>Clay Stabilizers</li>
        <li>Completion Fluid Additives</li>
        <li>Defoamers</li>
        <li>Dispersants</li>
        <li>Drag/Friction Reducer</li>
      </ul>
      <ul>
        <li>Drilling Fluid Additives</li>
        <li>Flocculants and Coagulants for Dewatering</li>
        <li>Fluid-Loss Control Additives</li>
        <li>Thickeners</li>
        <li>Hydration and Dosing Systems</li>
      </ul>
      <ul>
        <li>Low Viscosity Fluids</li>
        <li>Metal Precipitants</li>
        <li>Rheology Control Additives</li>
        <li>Scale Inhibitors</li>
        <li>Shale Inhibitors</li>
      </ul>
    </div>
    <div class="border-divider" style="margin-bottom:50px;"></div>
    <%= render "download_section" %>
  </div>
</div>
