<%= render "sidebar" %>
<div class="product-solutions-container">
  <div class="product-main-right-div">
    <h2 class="product-solutions-header">Paper & Pulp</h2>
    <div id="paper_and_pulp_general" class="product-solutions-image" style="background-image: url('<%= image_url('products/paper-and-pulp.jpg')%>');">
      <h2 class="image-text">General</h2>
    </div>
    <p>Paper chemicals are essential for manufacturing books, newspapers, tissues and other types of papers that are important in our daily lives. <strong>JAS Global Indusries</strong> manufactures an extensive range of value-adding products that are applied at every stage of the manufacturing process. From process chemicals for machine applications through to coating chemicals that enhance the performance and appearance of finished paper and board. In addition to this, we also offer a range of flocculants and coagulants for effluent treatment plants all in which help our customers optimize their costs while maintaining process efficiency.</p>
    <p>At <strong>JAS Global Indusries</strong>, we are constantly striving to provide innovative solutions to our customers to help them differentiate and strive in competitive markets.</p>
    <p>In the recent past, the paper industry has made tremendous progress in developing top quality products and improved methods of production. Accordingly, it has become imperative that papermaking is done at reasonable costs without compromising on consumers demands for high quality products. Our work at <strong>JAS Global Indusries</strong> is committed to innovation and putting our customers first by investing into R&D and developing new solutions that are in line with our customers exact needs.</p>
    <p>Our portfolio offers a range of speciality polymers that address common requirements of paper and pulp manufacturers such as machine speeds, drainage and retention, physical properties of paper and board, and machine runnability which contribute to the productivity of the process and final quality. This in turn helps increase runnability, protect the environment through water savings while reducing overall costs.</p>
    <p>The product portfolio for Paper & Pulp includes:</p>
    <div class="product-solutions-list-div">
      <ul class="product-solutions-ul-first">
        <li>Dispersants</li>
        <li>Rheology Modifiers</li>
        <li>Organic & Inorganic Defoamers</li>
        <li>Fixation Agents</li>
        <li>Flocculants</li>
      </ul>
    </div>
  </div>
</div>
