<%= render "sidebar" %>
<div class="product-solutions-container">
  <div class="product-main-right-div">
    <h2 class="product-solutions-header">Personal Care</h2>
    <div id="personal_care_general" class="product-solutions-image" style="background-image: url('<%= image_url('products/personal-care.jpg')%>');">
      <h2 class="image-text">General</h2>
    </div>
    <p><strong>JAS Global Indusries</strong> develops and manufactures a spectrum of chemical additive solutions that deliver benefits to support our customers success in the skin care, cosmetics and hare care markets. As consumer behaviour is constantly evolving, tailor-made, sustainable and safe solutions become even more critical. Hence, our objective is to support our customers with custom-made solutions on polymers, surfactants, precipitated silica and fragrances to provide excellent end user satisfaction. In this regard, we offer a complete range of sustainable polymeric and non-polymeric solutions for our three categories of personal care products - hair care, skin care and bath.</p>
    <h3>Hair Care</h3>
    <p>With over two decades of experience providing top quality sustainable solutions to hair product formulators, we develop effective and innovative additives to our customers in order to produce the most versatile and efficient products on the market.</p>
    <p>Partnering with <strong>JAS Global Indusries</strong> allows our hair care formulator customers to offer the best-in-class products. Our portfolio of naturally derived, top-quality chemical additives include film formers, rheology modifiers, sustainable hair conditioning polymers and silicone-alternatives.</p>
    <h3>Skin Care</h3>
    <p>Anionic Liquid Dispersion Polymers (LDPs) that act as thickeners and are formulated with varying concentration levels, molecular weight and rheological properties. Our rheology modifiers applied in skin care products are also available in powder form.</p>
    <h3>Bath</h3>
    <p><strong>JAS Global Indusries</strong> offers a range of thickeners, stabilizing agents and rheology modifiers that extend outstanding effects to shower gel and body wash formulators. This allows formulators of such products to develop the finest products that deliver distinguished effects and improved sensory experiences for the end-user.</p>
    <p>The product portfolio for Personal Care includes:</p>
    <div class="product-solutions-list-div">
      <ul class="product-solutions-ul-first">
        <li>Polyquaternium Conditioning Polymers</li>
        <li>Carbomers</li>
        <li>Rheology Modifiers</li>
        <li>Silicones</li>
      </ul>
    </div>
  </div>
</div>
